@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Font Variables */
  --font-fira-sans: "Fira Sans", sans-serif;
  --font-fira-mono: "Fira Mono", monospace;
}

/* Custom Body and Header Font-Family */
body {
  font-family: var(--font-fira-sans);
  background-color: #1a202c;
  color: white;
}

h1,
h2,
h3 {
  font-family: var(--font-fira-sans);
}
